<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>

    <!-- Application Base URL -->
    <add key="APP_BASE_URL" value="http://izin.optiim.com"/>
    
    <!-- Application Environment -->
    <add key="IS_PRODUCTION" value="0"/>

    <!-- LeaveApp Database Connection String -->
    <add key="DB_CON_STRING" value="Data Source=88.247.113.176;Initial Catalog=IzinAppDB;User Id=zw;Password=0pt11mPPM" />

    <!-- E-Mail Configuration -->
    <add key="SENDER_MAIL" value="mantis@optiim.com" />
    <add key="SENDER_MAIL_PASSWORD" value="rk[cOv^u" />
    <add key="SENDER_HOST" value="smtp.gmail.com" />
    <add key="SENDER_SSL" value="TRUE" />
    <add key="SENDER_PORT" value="587" />
    
    <!-- Email Receivers -->
    <add key="RECEIVER_CC_1" value="canturk.toprakli@optiim.com"/>
    <add key="RECEIVER_CC_2" value="alphan.arslan@optiim.com"/>
    <add key="RECEIVER_CC_3" value="hakan.turgut@optiim.com"/>
    <add key="RECEIVER_CC_4" value="ozlem.paca@optiim.com"/>
    <add key="RECEIVER_CC_5" value=""/>
    <add key="RECEIVER_CC_6" value=""/>
    <add key="RECEIVER_CC_7" value=""/>
    
    <add key="RECEIVER_BCC_1" value="burak.kaya@optiim.com"/>
    <add key="RECEIVER_BCC_2" value="melih.caliskan@optiim.com"/>
    <add key="RECEIVER_BCC_3" value="sera.durgun@optiim.com"/>
    <add key="RECEIVER_BCC_4" value=""/>
    <add key="RECEIVER_BCC_5" value=""/>
    
  </appSettings>

</configuration>